/* Overriding all the default style and setting padding and margin to 0 */
* {
  margin: 0;
}

/* sets the background color of navbar */
.navbar {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* nav links using flexbox to create a row */
.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* targeting the nology text and background color as well as padding */
.navbar .nology {
  font-size: 22px;
  color: white;
  background-color: green;
  padding: 18px;
}

/* link text elements */
.nav a {
  color: white;
  font-size: 22px;
  padding: 100px;
}

/* removes underline and bullets from text */
li,
a {
  text-decoration: none;
  list-style: none;
}

/* on hover navbar changes color */
.navbar:hover {
  background-color: green;
}

/* on hover links change color */
a:hover {
  color: black;
}



.main-panel-one {
  border: 2px solid;
  width: 1400px;
  margin: 10px;
  float: left;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.main-panel-two {
  border: 2px solid;
  width: 1400px;
  margin: 10px;
  float: left;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  
}

.main-panel-three {
  border: 2px solid;
  width: 1400px;
  margin: 10px;
  padding: 20px;
  float: left;
  display: flex;

}

.box-panel-one {
  border: 2px solid;
  width: 100px;
  height: 100px;
  color: white;
  background-color: black;
}

.box-panel-two {
  border: 2px solid;
  width: 100px;
  height: 100px;
  margin: 10px;
  color: white;
  background-color: black;
}

.box-panel-three {
  border: 2px solid;
  width: 100px;
  height: 100px;
  margin: 10px;
  color: white;
  background-color: black;
}



aside {
  border: 2px solid;
  width: 450px;
  margin-top: 10px;
  height: 519px;
  display: flex;
  flex-wrap: wrap;
}

h3 {
  font-size: 26px;
  padding-top: 10px;
  padding: 10px;
}

.right-panel-text {
  padding: 10px;
}